<head>
  <title>Signup</title>
</head>

<h1 class="text-center mt-3">Hello Welcome to ED-Tech</h1>
<p class="text-center">Please Signup here to continue</p>
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form>
        <div class="form-group mb-3">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group mb-3">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>